<h1>Login Form</h1>

<form action="/burd_sessions" method="POST">
  <p>
    <label for ="email">Email:</label>
    <input type="text" name="email" id="email" />
  </p>
  <input type="submit" />
</form>
