<!DOCTYPE html>
<html>
<head>
  <title>Sinatra Sessions Code Along</title>
</head>
<body>

 <!--  <p> "Welcome to Sinatra Sessions! In this lab, we will be learning about the </p>
  <p>general principles behind a sessions cookie. In order to proceed,<p>
  <a href="/first_exercise">let's go to the '/first_exercise' path."</a></p>
 -->
</body>
</html>